<div class="ui vertical menu " id="verticalmenu">
  <a class="{{itemfbdabout}}" href="freedombydesign.html">About</a>
  <a class="{{itemfbdresources}}" href="fbdresources.html">Resources</a>
  <a class="{{itemfbdprojects}}" href="fbdprojects.html">Projects</a>
</div>

