  <div class="ui fluid container">
    <div class="ui three column stackable centered grid">
      <div class="three wide column left aligned">
        <h4><a href="index.html">Home</a></h4>
        <h4><a href="events.html">Events</a></h4>
        <h4><a href="membership.html">Resources</a></h4>
      </div>
      <div class="six wide column left aligned">
        <h4>American Institute of Architecture Students</h4>
        <h4>Carnegie Mellon Chapter</h4>
        <p class="description lighten">{{description}}</p>
        <p class="description lighten">&copy; <span id="year"></span>All Rights Reserved</p>
      </div>
      <div class="four wide column left aligned"> 
        <h4>Join our CMU Chapter!</h4>
        <a href="http://www.aias.org/membership/#join" target="_blank"><button class="ui button black" style="margin: 7px 0 7px 0;">Join</button></a>
        <address>
          <a href="mailto:aiascmu@gmail.com"><h4>aiascmu@gmail.com</h4></a>
        </address>
      </div>
    </div>
  </div>
  <script type="text/javascript">
      $('#year')[0].innerText = (new Date()).getFullYear()
  </script>